*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.product-manage-container{
    float : left;
    background-color: #F5F5F5;
    height: 916px;
    width: 80%;
}
.product-manage-content{
    width: 800px;
    background-color: white;
    margin: 0 100px;
    border-radius: 10px;
}
.product-manage-item{
    display: flex;
    flex-wrap: wrap;
}
.header-product-manage{
    display: flex;
    justify-content: space-between ;
    margin: 40px 110px;
}
.ant-modal-footer{
    display: none;
}
.ant-modal-content{
    width: 550px;
    border-radius: 15px !important;
}
.ant-modal-header{
    border-radius: 15px !important;
}
.delete-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action-delete-form{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.img-delete{
    margin: 15px 0;
}
.product-content.update{
    display: flex;
}
.form-update{
    width: 50%;
}
.update-image {
    width: 50%;
}

.update-slide-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.slide-image-item{
   display: none;
}
.img-slide-select{
    width: 100px;
    height: 80px;
    border: 1px solid rgb(209, 202, 202);
    color:  #00CCFF;
    font-size: 55px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.action-slide-image{
    display: none;
    flex-direction: column;
    width: 100px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute; 
    top: 100%;
    left: 0;
}
.image-item-container{
    position: relative;
    cursor: pointer;
}
.image-item-container:hover .action-slide-image{
    top: 0;
    display: flex;
}
.group-content-image{
    width: 100px;
    margin: 10px 20px;
}